.navbar-layout {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

.main-content {
  flex-grow: 1;
  background-color: white;
  overflow-y: auto; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}
